<header class="site-header">
  <div class="wrap">
    <h1 class="brand"><a href="/"><%= title || 'W01 Site' %></a></h1>
    <nav>
      <a href="/">Home</a>
      <a href="#about">About</a>
      <a href="#contact">Contact</a>
      <% if (locals.loggedin) { %>
        <a href="/account/">Account</a>
        <a href="/account/logout">Logout</a>
      <% } else { %>
        <a href="/account/login">Login</a>
        <a href="/account/registration">Register</a>
      <% } %>
    </nav>
  </div>
</header>
